---
---

// Import layout mixin
@import "partials/layout";

body {
    margin: 0;
    padding: 15px;
    vertical-align: baseline;
    background-color: #3F3F3F;
}

a {
    color: lightskyblue;
}

#logo {
    float: left;
}

#button-container {
    position: absolute;
    bottom: 7px;
    right: 0;
}

.clearfix {
    clear: both;
}

#content {
    background-color: #232944;
    border: 16px solid transparent;
    -webkit-border-image: url(/assets/images/aer/border.png) 16 stretch; /* Safari*/
    -o-border-image: url(/assets/images/aer/border.png) 16 stretch; /* Opera*/
    border-image: url(/assets/images/aer/border.png) 16 stretch;
}

.twitter-share-button {
  padding-right: 10px;
}

.wc-container {
    width: 90%;
    max-width: $M;
    margin: 0 auto;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 20px;
    font-family: inherit;
    text-shadow: 3px 3px #000000
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: inherit;
}

.preview {
    width: 318px;
    height: 180px;
}

.banner {
    vertical-align: middle;
    padding: 5px;
}

.copyright {
    color: white;
    font-style: italic;
}
