body {
    margin: 0;
    padding: 15px;
    background-color: #3F3F3F;
}

a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: lightskyblue;
    font-size: 20px;
    font-family: inherit;
}

#content {
    background-color: #232944;
    border: 16px solid transparent;
    -webkit-border-image: url(http://toyknight.net/assets/images/aer/border.png) 16 stretch; /* Safari*/
    -o-border-image: url(http://toyknight.net/assets/images/aer/border.png) 16 stretch; /* Opera*/
    border-image: url(http://toyknight.net/assets/images/aer/border.png) 16 stretch;
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: inherit;
}
