---
---

// Import reset
@import "partials/reset";

// Import colors, fonts etc...
@import "partials/variables";

// Import custom mixins
@import "partials/mixins";

// Import layout mixin
@import "partials/layout";

// Import syntax
@import "partials/syntax";


/* --------------------------------

 Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  color: $color-text-primary;
  background-color: $base-01;
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
}

.wc-container {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

/* --------------------------------

 Small Typography

--------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15em;
}

h1 {
  // mobile first
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(36px);
  }
}

h2 {
  // mobile first
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(31px);
  }
}

h3 {
  // mobile first
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(30px);
  }
}

h4 {
  // mobile first
  @include font-size(12px);
  @include MQ(M) {
    @include font-size(24px);
  }
}

h5 {
  // mobile first
  @include font-size(11px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h6 {
  // mobile first
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(19px);
  }
}

p {
  line-height: 1.7em;
  // mobile first
  font-size: 100%;
}

a:active, a:hover, a:focus {
  outline: 0;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

/* bold text */
strong, b { font-weight: 600; }

/* italic */
em, i { font-style: italic; }

/* --------------------------------

 Theme base

--------------------------------- */

// default

a.default-anchor {
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
  border-bottom-color: $color-link-active;
  color: $color-link-text;
  &:hover, &:focus, &:active {
    background: $color-link-active;
    color: $color-text-primary;
  }
}

a {
  @extend .default-anchor;
}

.post-title a {
    color: $color-link-title;
}

a[href*="://"]::after, a[rel*="external"] {
  content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

header.main-header {
  ul {
    width: 100%;
  }

  ul li {
    display: inline-block;
    position:relative;
  }
}

div.page-content {
  min-height: initial;

  @include MQ(M) {
    min-height: 400px;
  }
}

div.page-content {
  ul {
    padding: 0 0 1em 0;
    li {
      @include font-size(14px);
      line-height: 1.6;
      background: url("/assets/images/bullet.svg");
      background-repeat: no-repeat;
      background-position: 0 6px;
      padding: 0 0 5px 15px;
      margin-left: 0;
    }
    @include MQ(M) {
      li {
        @include font-size(16px);
        line-height: 1.5;
        background-position: 0 7px;
      }
    }
  }

  img {
    padding: 0.25em 0;
    @include MQ(M) {
      padding: 0.5em 0;
    }
    display: inline;
  }
}

/* --------------------------------

 Main Header & Footer

--------------------------------- */

header.main-header {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}
footer.main-footer {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}

/* ---------------------------------

  Blockquote

---------------------------------- */
blockquote {
  padding: .5em 1em;
  margin: .8em 0;
  color: #7a7a7a;
  border-left: .25em solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@include MQ(M) {
  blockquote {
    padding-right: 5em;
    padding-left: 1.25em;
  }
}

/* --------------------------------

Code snippets

--------------------------------- */
code, pre {
  font-family: Ayuthaya, Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: $base-08;
  background-color: rgba($base-08, .1);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1em;
  @include font-size(12px);
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #2b303b;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  @include MQ(M) {
    @include font-size(14px);
  }
}

.highlight {
  margin-bottom: 1em;
  pre {
    margin-bottom: 0;
  }
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  margin: 1em 0;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 12px;
  @include MQ(M) {
    font-size: 14px !important;
  }
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* --------------------------------

Post styles

--------------------------------- */
div.post {
  padding-top: .5em;
  padding-bottom: 1em;
  @include MQ(M) {
    padding-bottom: 2em;
  }
}

p.post-meta {
  line-height: 1.6;
  letter-spacing: 2px;
  overflow: hidden;
  display: block;
  color: #9c9c9c;
  padding: .5em 0;
  @include font-size(14px);
  @include MQ(M) {
    padding: 1em 0;
    @include font-size(16px);
  }
}

p.post-description {
  line-height: 1.6;
  font-size: 100%;
  padding-bottom: 0.1em;
  @include MQ(M) {
    padding-bottom: 0.2em;
  }
}

div.post-content h1, h2, h3, h4, h5, h6 {
  padding-bottom: 0.2em;
  @include MQ(M) {
    padding-bottom: 0.4em;
  }
}

div.post-content p {
  padding-bottom: 0.5em;
  @include MQ(M) {
    padding-bottom: 1em;
  }
}

/* -----------------------------------

  Table

----------------------------------- */
table {
  margin: 1em 0;
  width: 100%;
  border: 1px solid $base-04;
  border-collapse: collapse;
}
td,
th {
  padding: .25em .5em;
  border: 1px solid $base-04;
}

/* -----------------------------------

  emoji

----------------------------------- */
img.emoji {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0 !important;
}

@-moz-document domain("disqus.com")
{
  body {
    color: $color-text-primary !important;
  }
}