<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/aer.ico" />
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/aer.ico" />
    <title>Ancient Empires Reloaded</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/aeii.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ site.baseurl }}/assets/js/pixi.min.js"></script>
</head>

<body>
<div class="wc-container">
    <div style="position: relative">
        <div id="logo"></div>
        <div id="button-container">
            <a>
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftoyknight.net%2Faeii%2F&width=100&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId"
                    width="120" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </a>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
            <a>
                <g:plusone size="medium"></g:plusone>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="content">
        <p class="text">This is the home page for <a href="https://github.com/toyknight/project_aeii">Project AEII</a> (also known
            as Ancient Empires Reloaded). The project itself is a fan game created by <a href="https://toyknight.net">toyknight</a>, and also is, as you can guess, a remastered version of <a href="https://en.wikipedia.org/wiki/Ancient_Empires_(mobile_game)">Ancient Empires II</a>. The main purpose of this project is to bring this awesome game back to your phone again and show our respect to that lost age.</p>
        <p class="text">For more information about the game please visit our <a href="http://aeii.boards.net/">forum</a>. Should you have any confusion about our service please check our <a href="https://toyknight.net/aeii/privacy">Privacy Policy</a> or contact us at <a htrf="mailto:toyknight@outlook.com">toyknight@outlook.com</a>.</p>
        <hr size="1" noshade="" color="#FFFFFF">
        <p class="title">
            <img src="{{ site.baseurl }}/assets/images/aer/icons/icon_sword.png" style="padding-right: 5px">
            <span><b>Screenshots</b></span>
        </p>
        <p align="center">
            <a href="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_1.png"><img class="preview" src="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_1.png"></a>
            <a href="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_2.png"><img class="preview" src="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_2.png"></a>
            <a href="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_3.png"><img class="preview" src="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_3.png"></a>
            <a href="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_4.png"><img class="preview" src="{{ site.baseurl }}/assets/images/aer/screenshots/screenshot_4.png"></a>
        </p>
        <hr size="1" noshade="" color="#FFFFFF">
        <p class="title">
            <img src="{{ site.baseurl }}/assets/images/aer/icons/icon_spirit.png" style="padding-right: 5px">
            <span><b>Features</b></span>
        </p>
        <ul class="text">
            <li>Improved tiles</li>
            <li>New & renewed units</li>
            <li>New abilities</li>
            <li>New & renewed status</li>
            <li>New campaigns</li>
            <li>In-game map editor</li>
            <li>Online map sharing</li>
            <li>Online multiplayer mode</li>
        </ul>
        <hr size="1" noshade="" color="#FFFFFF">
        <p class="title">
            <img src="{{ site.baseurl }}/assets/images/aer/icons/icon_network.png" style="padding-right: 5px">
            <span><b>Downloads</b></span>
        </p>
        <ul class="text">
            <li>Android: <a href="https://play.google.com/store/apps/details?id=net.toyknight.aeii.android">Download from Google Play</a></li>
            <li>iOS: <a href="https://itunes.apple.com/app/id1202568287">Download from App Store</a></li>
        </ul>
        <hr size="1" noshade="" color="#FFFFFF">
        <p class="title">
            <img src="{{ site.baseurl }}/assets/images/aer/icons/icon_book.png" style="padding-right: 5px">
            <span><b>Change Log</b></span>
        </p>
        <ul class="text">
            <li>[07-10-2018] <a href="http://aeii.boards.net/thread/200/07-10-2018-patch-notes">v3.1.3</a></li>
            <li>[07-07-2018] <a href="http://aeii.boards.net/thread/197/07-2018-v3-patch-notes">v3.1.2</a></li>
            <li>[07-03-2018] <a href="http://aeii.boards.net/thread/195/07-03-2018-patch-notes">v3.0.0</a></li>
            <li>[03-23-2018] <a href="http://aeii.boards.net/thread/167/03-23-2018-patch-notes">v2.4.4</a></li>
            <li>[03-01-2018] <a href="http://aeii.boards.net/thread/156/03-01-2018-patch-notes">v2.4.3</a></li>
            <li>[02-21-2018] <a href="http://aeii.boards.net/thread/152/02-21-2018-patch-notes">v2.4.2</a></li>
            <li>[02-17-2018] <a href="http://aeii.boards.net/thread/146/02-17-2018-patch-notes">v2.4.0(.1)</a></li>
            <li>[02-10-2018] <a href="http://aeii.boards.net/thread/135/02-10-2018-patch-notes">v2.3.0(.1)</a></li>
            <li>[01-30-2018] <a href="http://aeii.boards.net/thread/130/01-30-2018-patch-notes">v2.2.0</a></li>
            <li>[01-23-2018] <a href="http://aeii.boards.net/thread/124/01-23-2018-patch-notes">v2.1.9</a></li>
            <li>[01-19-2018] <a href="http://aeii.boards.net/thread/117/01-19-2018-patch-notes">v2.1.8(.2)</a></li>
            <li>[12-16-2017] <a href="http://aeii.boards.net/thread/89/12-16-2017-patch-notes">v2.1.7</a></li>
            <li>[11-26-2017] <a href="http://aeii.boards.net/thread/81/11-26-2017-patch-notes">v2.1.6</a></li>
            <li>[11-05-2017] <a href="http://aeii.boards.net/thread/72/11-05-2017-patch-notes">v2.1.5</a></li>
            <li>[11-01-2017] <a href="http://aeii.boards.net/thread/69/11-01-2017-patch-notes">v2.1.4</a></li>
            <li>[10-30-2017] <a href="http://aeii.boards.net/thread/68/10-30-2017-patch-notes">v2.1.2</a></li>
            <li>[10-28-2017] <a href="http://aeii.boards.net/thread/63/10-28-2017-patch-notes">v2.1.1</a></li>
            <li>[10-12-2017] <a href="http://aeii.boards.net/thread/52/10-12-2017-patch-notes">v2.1.0</a></li>
            <li>[10-03-2017] <a href="http://aeii.boards.net/thread/46/10-03-2017-patch-notes">v2.0.1</a></li>
            <li>[10-01-2017] <a href="http://aeii.boards.net/thread/39/10-01-2017-patch-notes">v2.0.0</a></li>
            <li>[11-20-2016] <a href="http://aeii.boards.net/thread/17/11-20-2016-patch-notes">v1.3.0.1</a></li>
            <li>[10-07-2016] <a href="http://aeii.boards.net/thread/15/10-07-2016-patch-notes"> v1.3.0</a></li>
            <li>[09-16-2016] <a href="http://aeii.boards.net/thread/11/09-16-2016-patch-notes">v1.2.1</a></li>
            <li>[09-02-2016] <a href="http://aeii.boards.net/thread/6/09-02-2016-patch-notes">v1.2.0</a></li>
            <li>[08-25-2016] <a href="http://aeii.boards.net/thread/4/08-25-2016-patch-notes">v1.1.9</a></li>
        </ul>
    </div>

    <p class="copyright" align="right">&copy; 2015-2017 toyknight</p>

    <script src="{{ site.baseurl }}/assets/js/aer/logo.js"></script>
    <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
    }(document, "script", "twitter-wjs"));
    </script>
</div>
</body>

</html>
