---
layout: default
---

<div class="page-content wc-container">
	<div class="post">
		<h1>{{ page.title }}</h1>
		<p class="post-meta">
			{% if (page.categories.size > 0 %}
      		<span class="categories">
      			{{ page.categories | array_to_sentence_string }}
      		</span> |
	    	{% endif %}
	    	<span class="post-date">
    			{{ page.date | date: "%b %-d, %Y" }}
	    	</span>
		</p>
		<div class="post-content">
			{{ content }}
		</div>
	</div>

    <!-- Disqus -->
    {% if page.comments != false and site.disqus.id %}
    <div class="post-disqus">
        <section id="disqus_thread"></section>
        {% include disqus.html %}
    </div>
    {% endif %}
</div>
